.about-me-cv-wrapper {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.about-me__container {
  flex: 1 1 0;
  padding: 1em;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-me__heading {
  margin-bottom: 0.5em;
}

.about-me {
  border: 1px solid black;
  flex: 1 1 0%;
  padding: 1em;
}
