.cv__container {
  flex: 2 1 0%;
  padding: 1em;
  border: 1px solid black;
}

.cv__heading {
  margin-bottom: 0.5em;
}

.cv {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  gap: 0;
}

.cv__when {
  padding: 0 1em;
  flex: 1 1 0%;
  text-align: center;
}

.cv__where {
  padding: 0 1em;
  flex: 3 1 0%;
  text-align: center;
}

.cv__position {
  color: black;
}

.cv__company {
  font-weight: 600;
}
