.main-nav {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* start */
  align-items: flex-start; /* default is "stretch" */
  align-content: flex-start;
  gap: 1px;
}

.main-nav__item {
  background-color: var(--color-dark);
  padding: 0.4em 3em;
  border-radius: 3px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 30%);
  flex-grow: 1;
  text-align: center;
}

.main-nav > a:hover {
  background-color: #424242;
  text-decoration: underline;
}
