* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  padding: 1em;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

a {
  text-decoration: none;
}
